<html lang="en">
<head>
  <meta charset="utf-8">

  <title>5 Before die - Life-changing books recommended by experts</title>
  <meta name="description" content="The HTML5 Herald">
  <meta name="author" content="Guilherme Vieira Rizzo">
  <link href="https://fonts.googleapis.com/css?family=Amiri:400,400i,700" rel="stylesheet">

  <link rel="stylesheet" href="assets/css/index.css">

  <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js"></script>
  <![endif]-->
</head>

<body>
  <div id="app">
    <h1>5 Before Die</h1>
    <nav>
      <ul class="nav-links">
        <li v-for="subject in subjects"><a href="#">{{ subject }}</a></li>
      </ul>
    </nav>
    <section class="recommendations">
      <article v-for="list in lists">
        <figure>
          <img :src="list.person.picture" alt="Elon Musk" width="75" class="person-picture">
        </figure>
        <header>{{ list.title }}</header>
        <ul class="books-wrapper">
          <li v-for="book in list.books">
            <a :href="book.url">
              <img :src="book.img" width="90" height="135" :alt="book.name">
            </a>
          </li>
        </ul>
      </article>
    </section>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src="assets/js/index.js"></script>
</body>
</html>